<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <html>
        <head>
            <title>Lavoura, pão feito em casa</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>
        <body>        
            <nav>
                <a th:href="@{/}">Início</a>
                <a th:href="@{/listagem}">Cardápio</a>
                <a th:href="@{/inserir-cliente}">Cadastro de clientes</a>
                <a th:href="@{/inserir-pedido}">Cadastrar pedidos</a>
                <a th:href="@{/listagem}">Pedidos</a>
                <a th:href="@{/listagem}">Clientes</a>
            </nav>
        </body>
    </html>
